<header>
    <img src="/images/bonappetit.png">
    <div>
        <h1>Mellen Family Recipes</h1>
        <nav>
            <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">Faves</a></li>
                <li><a href="#">Mine</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </nav>
    </div>
</header>