<%- include('modules/head.ejs'); %>
</head>
<body>
<%- include('modules/header.ejs'); %>
<main class="error-main">
    <h1>Error 404!</h1>
    <h2>This is definitely not what you were looking for. Your page couldn't be found.</h2>
    <div></div>
</main>
<%- include('modules/footer.ejs'); %>
 
    