<%- include('modules/head.ejs'); %>
</head>
<body>
<%- include('modules/header.ejs'); %>
<main class="error-main">
    <h1>Error 500!</h1>
    <h2>Something went wrong...</h2>
    <div></div>
</main>
<%- include('modules/footer.ejs'); %>
 
    