<%- include('../modules/head.ejs') %>
</head>
<body>
    <%- include('../modules/header.ejs') %>
    <main>
        <p>Display recipes here.</p>
        
    </main>
    <%- include('../modules/footer.ejs') %>
</body>
</html>